BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CLK_50M" SITE "21" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[29]" SITE "46" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[28]" SITE "45" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[27]" SITE "44" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[26]" SITE "43" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[25]" SITE "40" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[24]" SITE "39" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[23]" SITE "38" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[22]" SITE "37" ;
LOCATE COMP "led1" SITE "46" ;
LOCATE COMP "led2" SITE "45" ;
LOCATE COMP "led3" SITE "44" ;
LOCATE COMP "led4" SITE "43" ;
LOCATE COMP "led5" SITE "40" ;
LOCATE COMP "led6" SITE "39" ;
LOCATE COMP "led7" SITE "38" ;
LOCATE COMP "led8" SITE "37" ;
LOCATE COMP "clk" SITE "21" ;
LOCATE COMP "button1" SITE "19" ;
LOCATE COMP "data4" SITE "103" ;
LOCATE COMP "data3" SITE "102" ;
LOCATE COMP "data2" SITE "101" ;
LOCATE COMP "data1" SITE "100" ;
LOCATE COMP "shift_clk" SITE "98" ;
LOCATE COMP "latch_clk" SITE "96" ;
LOCATE COMP "button_sw2" SITE "19" ;
LOCATE COMP "dip_switch_1" SITE "58" ;
LOCATE COMP "dip_switch_2" SITE "57" ;
LOCATE COMP "dip_switch_3" SITE "56" ;
LOCATE COMP "dip_switch_4" SITE "55" ;
LOCATE COMP "DAC_OUT[0]" SITE "61" ;
LOCATE COMP "DAC_OUT[1]" SITE "116" ;
LOCATE COMP "sample_hold" SITE "62" ;
LOCATE COMP "DAC_OUT[2]" SITE "115" ;
LOCATE COMP "DAC_OUT[3]" SITE "114" ;
LOCATE COMP "DAC_OUT[4]" SITE "113" ;
LOCATE COMP "DAC_OUT[5]" SITE "78" ;
LOCATE COMP "DAC_OUT[6]" SITE "77" ;
LOCATE COMP "DAC_OUT[7]" SITE "74" ;
LOCATE COMP "DAC_OUT[8]" SITE "73" ;
LOCATE COMP "DAC_OUT[9]" SITE "108" ;
LOCATE COMP "DAC_OUT[10]" SITE "107" ;
LOCATE COMP "DAC_OUT[11]" SITE "104" ;
LOCATE COMP "comparator" SITE "65" ;
