BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CLK_50M" SITE "21" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[29]" SITE "46" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[28]" SITE "45" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[27]" SITE "44" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[26]" SITE "43" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[25]" SITE "40" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[24]" SITE "39" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[23]" SITE "38" ;
LOCATE COMP "CLK_25M_BY_2_POW_N[22]" SITE "37" ;
